
.header {
    border: none;
    background-color: #454552 ;
    padding: 15px;
}

h1 {
    display: inline;
    color: #2e3045; 
    background-color: #95c7bf;
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
}

.header nav {
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #95c7bf;
}

a:hover {
    color: white;
}

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/cover.jpg");
    background-size: cover;
    background-position: center;
}

.hero h2 {
    display: inline;
    color: #2e3045; 
    background-color: #95c7bf;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 200px;
    font-family:'Courier New', Courier, monospace;
}
.main-column {
    width: 75%;
    float: right;
    padding-left: 30px;
    border-left: solid #2e3045;
}

.about-me-p {
    height: 200px;
    width: 90%;
    margin: 5px;
}

.larger-image {
    width: 90%;
    height: auto;
    background-image: url("../assets/images/project1.jpg");

}
/* need to fix headers inside cards to be on the bottom left
need to figure out how to make cards blue tint before and 
clear while hovering*/
.card-holder {
    display:inline-flex;
    padding: 10px;
    text-align: center;
    flex-wrap: wrap;
    
}
/* need to fix headers inside cards to be on the bottom left*/
.card {
    margin: 10px;
    border: solid black;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 45%;
    justify-content: space-evenly;
}

/* need to add media query for screen width*/
